---
title: Installing and Configuring Aerospike EE OnDemand Service for PCF
owner: Partners
---

This topic describes how to install and configure Aerospike EE OnDemand Service for Pivotal Cloud Foundry (PCF).

##<a id='install'></a> Install and Configure Aerospike EE OnDemand Service for PCF

To install and configure the Aerospike EE OnDemand Service for PCF, perform the following steps:

1. Download the product file from [Pivotal Network](https://network.pivotal.io).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Click the **+** next to the uploaded Aerospike EE OnDemand Service tile in the Ops Manager **Available Products** view to add it to your staging area.
    <br><%= image_tag('add-tile.png') %>

1. Click the newly added **Aerospike EE OnDemand Service** tile.
    <br><%= image_tag('tile.png') %>

1. From the **Settings** tab, click **Assign AZs and Networks**.
    <br><%= image_tag('azs-network-tab.png') %>

1. Assign the availability zone and configure the **Network** and **Service Network**.
    <br><%= image_tag('az-and-networks.png') %>

1. Click **Save**.

1. From the **Settings** tab, click **Aerospike OnDemand Plan Small**.
    <br><%= image_tag('small-plan-tab.png') %>

1. Configure the VM settings for the Aerospike cluster and Aerospike Management Console for the **Small** plan.
    * First configure the Aerospike cluster settings for the **Small** plan. 
        + Choose the VM type that will be used for each Aerospike node. The VM type dropdown menu is automatically populated with the list of VMs configured for your cloud environment.
        + Choose the disk type that will be used for each Aerospike node.
        + Enter the number of instances (cluster size) to use for the **Small** plan.
    * Next, configure the settings for the Aerospike Management Console which is installed along with the Aerospike service.
        + Choose the VM type that will be used for the Aerospike Management Console.
        + Choose the disk type that will be used for the Aerospike Management Console.
    * Select the availability zone(s) where this service will be deployed.

    <br><%= image_tag('plan-config-1.png') %>

1. Configure the namespace that will be used for the **Small** plan.
    * Enter the name of the namespace that will created in the Aerospike service for the **Small** plan.
    * Select the storage device to be used (Memory or Device) that the namespace will use. A **Device** storage type will persist the data, whereas a **Memory** storage type will not.
    * Enter the default ttl (time-to-live) for records that will be stored in the Aerospike service. Records will expire in the system beyond this time. A value of **0** means that records will never expire. This default value can be overriden by the client if desired.
    * Enter the size of the namespace. This is the maximum amount of memory to allocate for records that will be maintained in this Aerospike service.
    * Select the replication factor to use for the **Small** plan. The replication factor is the number of copies of the record to maintain within the cluster.
    <p class="note"><strong>Note</strong>: The replication factor will be limited to the number of nodes in the cluster.</p>
    * Enter the file size to use for the namespace. This is only used if the namespace is using the **Device** storage type. A guideline is to use a file size that is roughly 4x the size of the namespace.
    * If the "Keep a copy of namespace always in memory" check box is selected, the Aerospike service will always keep a copy of all records in memory. This only applies if the namespace is using the **Device** storage type. For a **Memory** storage type, all records are always in memory.

    <br><%= image_tag('plan-config-2.png') %>

1. Click **Save**.

1. Configure the **Medium** and **Large** plans following the same steps as above.

1. From the **Settings** tab, click **Aerospike Enterprise Edition License**.
    <br><%= image_tag('license-tab.png') %>

1. Enter the user name and password for downloading the Enterprise Edition software from the Aerospike [website](http://www.aerospike.com/enterprise/download/server/latest).
    <br><%= image_tag('ee-license.png') %>

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Aerospike EE OnDemand Service for PCF tile.
