---
title: Installing and Configuring Aerospike EE OnDemand Service for PCF
owner: Partners
---

This topic describes how to install and configure Aerospike EE OnDemand Service for Pivotal Cloud Foundry (PCF).

##<a id='install'></a> Install and Configure Aerospike EE OnDemand Service for PCF

To install and configure the Aerospike EE OnDemand Service for PCF, perform the following steps:

1. Download the product file from [Pivotal Network](https://network.pivotal.io).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Click the **+** next to the uploaded Aerospike EE OnDemand Service tile in the Ops Manager **Available Products** view to add it to your staging area.
    <br><%= image_tag('add-tile.png') %>

1. Click the newly added **Aerospike EE OnDemand Service** tile.
    <br><%= image_tag('tile.png') %>

1. From the **Settings** tab, click **Assign AZs and Networks**.
    <br><%= image_tag('azs-network-tab.png') %>

1. Assign the availability zone and configure the **Network** and **Service Network**.
    <br><%= image_tag('az-and-networks.png') %>

1. Click **Save**.

1. From the **Settings** tab, click **Aerospike OnDemand Plan Small**.
    <br><%= image_tag('small-plan-tab.png') %>

1. Perform the following steps to configure the VM settings for the Aerospike cluster and Aerospike Management Console (AMC) for the **Small** plan.
    <br><%= image_tag('plan-config-1.png') %>

    1. For **VM type for the Aerospike Cluster**, use the dropdown menu to select the VM type to use for each Aerospike node. The dropdown menu is automatically populated with the list of VMs configured for your cloud environment.
    1. For **Disk type for Aerospike Cluster VMs**, use the dropdown menu to select th disk type to use for each Aerospike node.
    1. For **Number of instances for the Aerospike Cluster**, enter the number of instances to use for the **Small** plan. This is your cluster size.
    1. For **VM type for the Aerospike Management Console (AMC)**, use the dropdown menu to select the VM type to use for the AMC.
    1. For **Disk type for Aerospike Management Console**, use the dorpdown menu to select the disk type to use for the AMC.
    1. Under **Availability zone(s) for Plan 'Small'**, select one or more checkboxes that correspond to the availability zone(s) where this service will be deployed.

1. Perform the following steps to configure the namespace for the **Small** plan.
    <br><%= image_tag('plan-config-2.png') %>
    1. For **Name of the namespace**, enter the name of the namespace that will be created in the Aerospike service for the **Small** plan.
    1. For **Storage device for namespace**, use the dropdown menu to select the storage device that the namespace will use. A **Device** storage type persists the data, and a **Memory** storage type does not.
    1. For **Default ttl for namespace**, enter the default time-to-live for records that will be stored in the Aerospike service. Records will expire in the system beyond this time. A value of **0** means that records will never expire. This default value can be overriden by the client if desired.
    1. For **Size of namespace**, enter the size of the namespace. This is the maximum amount of memory to allocate for records that will be maintained in this Aerospike service.
    1. For **Replication factor for namespace**, use the dropdown menu to select the replication factor to use for the **Small** plan. The replication factor is the number of copies of the record to maintain within the cluster.
    <p class="note"><strong>Note</strong>: The replication factor is limited to the number of nodes in the cluster.</p>
    1. For **File size for namespace**, enter the file size to use for the namespace. Only complete this field if the namespace is using the **Device** storage type. Pivotal recommends using a file size that is roughly 4x the size of the namespace.
    1. Select the **Keep a copy of namespace always in memory** checkbox to instruct the Aerospike service to always keep a copy of all records in memory. Only complete this field if the namespace is using the **Device** storage type. For a **Memory** storage type, all records are always in memory.

1. Click **Save**.

1. Configure the **Medium** and **Large** plans following the same steps as above.

1. From the **Settings** tab, click **Aerospike Enterprise Edition License**.
    <br><%= image_tag('license-tab.png') %>

1. Enter the user name and password for downloading the Enterprise Edition software from the Aerospike [website](http://www.aerospike.com/enterprise/download/server/latest).
    <br><%= image_tag('ee-license.png') %>

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Aerospike EE OnDemand Service for PCF tile.
